# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.vendor/

# Django
db.sqlite3
media/
staticfiles/

# Environment files
.env
.env.*

# IDE / OS
.idea/
.vscode/
Thumbs.db
.DS_Store
spec.pdf
