{% extends 'Home/base.html' %}
{% block title %}Preskool - Add Student{% endblock %}
{% block page_title %}Add Student{% endblock %}
{% block breadcrumb_title %}Add Student{% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Student Information</span></h5>
                        </div>
                        {% for field in student_form %}
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <div class="text-danger small mt-1">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-12">
                            <h5 class="form-title"><span>Parent Information</span></h5>
                        </div>
                        {% for field in parent_form %}
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <div class="text-danger small mt-1">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
